{% extends "userbase.html" %}
{% block title %}ReserveSpot - Profile{% endblock %}
{% block content %}
<div class="userprofile-container grid">
    <div class="useridentify-container">
        <div class="useridentify-item profileimg">
            <img src="{{ user_profile.profile_image_url }}" id="selectedAvatar" class="imgcolorchange rounded-circle"
                alt="Avatar" />
            <br>
            <div data-mdb-ripple-init class="btn btn-light rounded-pill uploadbtn">
                <label class="form-label m-1" for="usrimg"><b>Upload a Photo</b></label>
                <input type="file" class="form-control d-none" id="usrimg" onchange="" />
            </div>
        </div>
        <br>
        <div class="useridentify-item identinfo">
            <h1 class="identify-title verify">Identity Verification</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <h1 class="identify-title usrprofilename">{{ user_profile.username }}</h1>
            <p><i class="bi bi-check2"> {% if user_profile.is_email_verified %} Email Confirmed {% else %} Email Not Confirmed {% endif %}</i></p>
        </div>
    </div>
    <div class="userinfo-container">
        <h1 class="userinfo-title">Hello, {{ user_profile.username }}</h1>
        <span>Joined in {{ user_profile.created_at|date:"Y" }}</span>
        <br>
        <a href="{% url 'editprofile' %}">
            <button class="btn editProfile-btn">Edit Profile</button>
        </a>
        <hr>
        <p><u>Reviewed By You</u></p>
        {% if user_reviews %}
            <ul>
                {% for review in user_reviews %}
                    <li>
                        <strong>Rating:</strong> {{ review.rating }}<br>
                        <strong>Comment:</strong> {{ review.comment }}<br>
                        <strong>Date:</strong> {{ review.created_at|date:"Y-m-d H:i" }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Reviews Yet!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
